<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/LoginPage.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <% if (errorMessage.length > 0) { %>
    <div class="error">
      <p><%= errorMessage %></p>
    </div>
    <% } %>
    <div class="block">
      <form method="POST" action="/auth/sendResetOtp">
        <h1>Rsest Password</h1>
        <p>Reset your password again!</p>
        <div class="sectionInp">
          <i class="bx bx-envelope"></i>
          <input
            class="inp"
            type="email"
            name="email"
            required
            placeholder="user@gmail.com"
          />
        </div>
        <a href="/auth/sendReseOtp"><p style="text-align: left; margin: 20px 0px;">Remember Password?</p></a>
        <input class="sectionInp" style="width: 100%; background: transparent; font-size: 15px; background: linear-gradient(to left, #70006b, #ac56d7); color: white; font-weight: 600;" type="submit" value="Get OTP" />
      </form>
      <p style="margin: 10px 0px;">If not recieved yet <span style="color: #ac56d7; text-decoration: underline;">Reattempt</span>.</p>
    </div>
  </body>
</html>
