<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/LoginPage.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <% if (errorMessage.length > 0) { %>
    <div class="error">
      <p><%= errorMessage %></p>
    </div>
    <% } %>
    <div class="block">
      <form method="POST" action="/auth/resetPassword">
        <h1>Enter OTP</h1>
        <p>Enter OTP, Recieved on email!</p>
        <div class="sectionInp">
            <i class="bx bx-envelope"></i>
            <input class="inp" type="email" name="email" required placeholder="user@gmail.com"/>
        </div>
        <div class="sectionInp">
            <i class="bx bxs-low-vision"></i>
            <input class="inp" type="password" name="newPass" required placeholder="New Password"/>
        </div>
        <div class="inputs">
          <input class="input" type="text" name="d1" required />
          <input class="input" type="text" name="d2" required />
          <input class="input" type="text" name="d3" required />
          <input class="input" type="text" name="d4" required />
          <input class="input" type="text" name="d5" required />
        </div>
        <input class="sectionInp" style="width: 100%; background: transparent; font-size: 15px; background: linear-gradient(to left, #70006b, #ac56d7); color: white; font-weight: 600; margin: 20px 0px" type="submit" value="Submit" />
      </form>
      <a href="/auth/" style="margin: 10px 0px; cursor: pointer;"><p>Didn't recieve yet? <span style="color: #ac56d7; text-decoration: underline;">send again</span>.</p></a>
    </div>
  </body>
</html>
