@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none;
    border: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #70006b, #ac56d7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    margin: auto;
    width: 25%;
    display: block;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.inp, select {
    width: 100%;
    height: 50px;
    font-size: 15px;
    border: 1px solid rgb(186, 186, 186);
    padding: 10px;
    margin-bottom: 20px;
}

.both {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    align-items: center; /* Aligns text and inputs properly */
    width: 100%;
}

textarea {
    border: 1px solid rgb(164, 164, 164);
    height: 100px;
    resize: none;
    margin-bottom: 15px;
    padding: 10px;
}

.button {
    width: 100%;
    height: 40px;
    border: none;
    background-color: rgb(95, 0, 95);
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-weight: 400;
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 10px;
}

.error {
    position: absolute;
    top: 4%;
    left: 35.5%;
    margin: auto;
    width: 30%;
    display: block;
    background-color: rgb(208, 141, 208);
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: white;
    z-index: 1000;
}

.auth a {
    padding: 10px;
    background-color: rgb(95, 0, 95);
    color: white;
    font-size: 16px;
    font-weight: 600;
    display: inline-block; /* Ensures proper spacing */
    border-radius: 5px; /* Optional: Smooth edges */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

.auth {
    max-width: 100%;
    position: absolute;
    right: 0; /* Instead of left: 80%; */
    top: 0;
    padding: 10px;
    overflow: hidden;
}

.auth a:hover {
    background-color: rgb(120, 0, 120);
}